<div class="vanilla-data column-center-start gap-1">
    <h1>Avg. monthly income</h1>
    <h4>~{{$.money(monthlyIncome.value)}}</h4>
    @if ($.isPositive(monthlyIncome.previousValue)) {
    <span class="good-growth">
        <h5>~{{$.money(monthlyIncome.previousValue)}}</h5>
        <i class="fa-regular fa-arrow-up-right"></i>
    </span>
    }@else {
    <span class="bad-growth">
        <h5>~{{$.money(monthlyIncome.previousValue).replace("-", "")}}</h5>
        <i class="fa-regular fa-arrow-down-right"></i>
    </span>
    }
</div>
<div class="percentage-data"
    [ngStyle]="{'background': 'conic-gradient(#fff15b '+ monthlyIncome.percentage +', #ecf0ff 0%)'}">
    <h1>{{monthlyIncome.percentage}}</h1>
</div>