<main class="column-start-stretch gap-1">
    <div class="goback-title">
        <div class="row-start-center gap-0_5">
            <button type="button" class="circle-btn" routerLink="/admin/categories"
                [queryParams]="{limit: 13, currentPile: 0}">
                <i class="fa-light fa-arrow-left"></i>
            </button>
            <span class="column-start-start gap-0_2">
                <h6>Back to categories</h6>
                <h1>Add new category</h1>
            </span>
        </div>
        <button type="button" class="blue-btn" [disabled]="!categoryForm.valid || categoryForm.value.parent_id === ''"
            (click)="save(imageInput)">
            <i class="fa-light fa-floppy-disk"></i>
            <h5>Save category</h5>
        </button>
    </div>

    <form class="category-editor" [formGroup]="categoryForm">
        <div class="content-box">
            <h1>General info</h1>
            <div class="column-start-stretch gap-1">
                <div class="adm-form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Enter a name for the category" formControlName="name">
                </div>
                <div class="adm-form-group">
                    <label for="parent">Parent</label>
                    <select id="parent" formControlName="parent_id"
                        (change)="categoryForm.get('configuratorField')?.enable()">
                        <option ngValue="" (click)="categoryForm.get('configuratorField')?.disable()">Set as parent
                        </option>
                        @for (category of (categories | ptIf); track $index) {
                        <option [ngValue]="category._id">{{category.name}}</option>
                        }
                    </select>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <div class="adm-form-group">
                    <label for="configurator">Include in configurator as</label>
                    <select id="configurator" formControlName="configuratorField">
                        <option ngValue="" selected disabled hidden>Select field</option>
                        <option ngValue="">N/A</option>
                        @for (field of configuratorPlayfield; track $index) {
                        <option [ngValue]="field.name">{{field.name}}</option>
                        }
                    </select>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="img-box">
            <h1>Image</h1>
            <div class="row-start-center flex-full" (click)="imageInput.click()">
                <div #uploader class="img-field" [ngClass]="[category ? 'hidden' : '']">
                    <input #imageInput type="file"
                        (input)="handleFileInput($event, image); picture.style.display = 'block'; uploader.classList.add('hidden')">
                    <picture #picture [ngStyle]="{'display': category ? 'block' : ''}"><img #image
                            [src]="category ? category.image : ''" loading="lazy" decoding="async"></picture>
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    <h5>Drag and drop<br>or<br>click to browse file</h5>
                </div>
            </div>
        </div>
        <div class="row-center-center specifications">
            <div class="row-spacebetween-center">
                <span class="column-start-start gap-0_6">
                    <h1>Specifications</h1>
                    <h6>Please enter a name for specification and all possible values for it</h6>
                </span>
                <button type="button" class="green-btn" (click)="addSpecification()">
                    <i class="fa-light fa-circle-plus"></i>
                    <h5>Add</h5>
                </button>
            </div>

            <div class="column-start-stretch gap-0_6" formArrayName="specifications">


                <div class="specvalues-field column-start-stretch"
                    *ngFor="let spec of specifications.controls; let specIndex = index" [formGroupName]="specIndex">
                    <span class="row-spacebetween-center">
                        <input type="text" placeholder="Enter specification name" formControlName="key">
                        <button type="button" class="icon-btn" (click)="collapseSpecGrid(grid, $event)">
                            <i class="fa-solid fa-caret-down"></i>
                        </button>
                    </span>
                    <div #grid>
                        <div class="values-wrapper column-start-stretch">
                            <ul class="values-list" formArrayName="values">
                                <li *ngFor="let valueControl of getValues(specIndex).controls; let valueIndex = index">
                                    <input #tagValue type="button" [formControlName]="valueIndex">
                                    <i class="fa-regular fa-xmark" (click)="removeValue(specIndex, valueIndex)"></i>
                                </li>
                            </ul>
                            <input type="text" class="value-input" placeholder="Enter value here"
                                (keydown.enter)="addValue(specIndex, $event)">
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </form>

</main>