<main class="column-start-stretch gap-1">
    <span class="main-title">
        <h1>Users</h1>
        <button type="button" class="blue-btn" routerLink="add-user">
            <i class="fa-light fa-plus-circle"></i>
            <h5>Add new user</h5>
        </button>
    </span>
    <div class="table-options gap-1">
        <div class="row-center-center gap-1">
            <div class="adm-form-group flex-full">
                <input #search type="text" id="search" placeholder="Search for firstname, lastname, email, etc.">
            </div>
            <div class="adm-form-group flex-full">
                <select #role>
                    <option value="both">Both admin & customer</option>
                    <option value="Admin">Admin</option>
                    <option value="Customer">Customer</option>
                </select>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
        <button type="button" class="blue-btn" (click)="updateFilters(search.value, role.value)">
            <i class="fa-light fa-magnifying-glass"></i>
            <h5>Search</h5>
        </button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>
                        <button #email type="button" [id]="sortingTriggers.EMAIL" (click)="sort($event.currentTarget)">
                            EMAIL
                            @if (email.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>
                        <button #firstname type="button" [id]="sortingTriggers.FIRSTNAME"
                            (click)="sort($event.currentTarget)">
                            FIRSTNAME
                            @if (firstname.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>
                        <button #lastname type="button" [id]="sortingTriggers.LASTNAME"
                            (click)="sort($event.currentTarget)">
                            LASTNAME
                            @if (lastname.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>ROLE</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @for (user of users; track $index) {
                <tr>
                    <td>{{user.email}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.role}}</td>
                    <td><i class="fa-regular fa-sliders" [routerLink]="['/admin/users/user', user._id]"></i></td>
                </tr>
                }
            </tbody>
        </table>
        <div class="pagination-container row-spacebetween-center">
            <button type="button" class="row-center-center" (click)="previousPile()"><i
                    class="fa-solid fa-caret-left"></i></button>
            <p>Showing {{currentPile + 1}} of {{paginatedUsers.length}}</p>
            <button type="button" class="row-center-center" (click)="nextPile()"><i
                    class="fa-solid fa-caret-right"></i></button>
        </div>
    </div>
</main>