main {
    grid-column: 1 / 3;
    background-color: var(--light-background);
    height: 100dvh;
    border: 1px dashed #ff0000;
    width: 100%;
    padding-top: 5rem;
}

main>form {
    width: 500px;
    max-width: 90%;
    padding: 2rem;
    border-radius: var(--border-radius-main);
    background-color: #ffffff;
    box-shadow: var(--box-shadow-main);
}

main>h1 {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--dark-text);
}

main>form span {
    position: absolute;
    color: var(--bad-color);
    letter-spacing: 1px;
    font-size: 0.55rem;
    font-weight: 400;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}



.email-check-notification {
    width: 500px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-check-notification>span {
    border-radius: var(--border-radius-main);
    background-color: rgba(81, 223, 121, 0.5);
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.email-check-notification>span>h4 {
    color: green;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
}