<main class="column-start-center gap-1_3">
    @if (!emailCheckNotification) {
    <h1>FORGOT PASSWORD</h1>
    <form class="column-center-stretch gap-1_5" [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
        <div class="form-group relative">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email" formControlName="email">
            @if (incorrect) {
            <span>Email is incorrect!</span>
            }
        </div>
        <button type="submit" class="blue-btn" [disabled]="forgetPasswordForm.invalid">
            <i class="fa-light fa-paper-plane-top"></i>
            <h5>SEND PASSWORD RESET EMAIL</h5>
        </button>
    </form>
    }@else {
    <div class="email-check-notification">
        <span>
            <h4>Link for password reset is sent to {{forgetPasswordForm.value.email}}!</h4>
        </span>
    </div>
    }
</main>