<div class="container column-spacebetween-center">
    <span></span>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="column-center-stretch gap-3">
        <div class="column-center-stretch relative gap-0_5">
            <label for="password">New password: </label>
            <input type="password" id="password" formControlName="password" placeholder="Enter new password">
            @if (passwordControl?.invalid && !passwordValue) {
            <small style="color: red;">{{getPasswordError()}}</small>
            }
        </div>
        <div class="column-center-stretch relative gap-0_5">
            <label for="confirm">Confirm new password: </label>
            <input type="password" id="confirm" formControlName="confirmPassword" placeholder="Confirm new password">
            @if (confirmPasswordControl?.invalid) {
            <small style="color: red;">Password do not match!</small>
            }
        </div>

        <button type="submit" [disabled]="!resetPasswordForm.valid">Save User</button>
    </form>
    <span></span>
</div>