<div class="sidenav-container column-start-stretch">
        <span class="logo row-center-center gap-0_2">
                <i class="fa-solid fa-caret-left"></i>
                <h1>ALEX<span>IT</span></h1>
        </span>
        <ul class="column-start-stretch gap-1_4">
                <li class="lineheight-fit" routerLink="dashboard" routerLinkActive="active">
                        <span class="lineheight-fit row-start-center gap-0_6">
                                <i class="fa-light fa-objects-column"></i>
                                <h5>Dashboard</h5>
                        </span>
                </li>
                <li class="lineheight-fit" routerLink="products" routerLinkActive="active" (click)="inventory()">
                        <span class="lineheight-fit row-start-center gap-0_6">
                                <i class="fa-light fa-box-circle-check"></i>
                                <h5>Inventory</h5>
                        </span>
                </li>
                <li class="lineheight-fit" routerLink="categories" routerLinkActive="active" (click)="categories()">
                        <span class="lineheight-fit row-start-center gap-0_6">
                                <i class="fa-light fa-list-tree"></i>
                                <h5>Categories</h5>
                        </span>
                </li>
                <li class="lineheight-fit" routerLink="orders" routerLinkActive="active" (click)="orders()">
                        <span class="lineheight-fit row-start-center gap-0_6">
                                <i class="fa-light fa-cart-shopping"></i>
                                <h5>Orders</h5>
                        </span>
                </li>
                <li class="lineheight-fit" routerLink="users" routerLinkActive="active" (click)="users()">
                        <span class="lineheight-fit row-start-center gap-0_6">
                                <i class="fa-light fa-users"></i>
                                <h5>Users</h5>
                        </span>
                </li>
                <li class="lineheight-fit" routerLink="sales" routerLinkActive="active" (click)="sales()">
                        <span class="lineheight-fit row-start-center gap-0_6">
                                <i class="fa-light fa-chart-mixed-up-circle-dollar"></i>
                                <h5>Sales</h5>
                        </span>
                </li>
                <li class="lineheight-fit" routerLink="offers" routerLinkActive="active" (click)="offers()">
                        <span class="lineheight-fit row-start-center gap-0_6">
                                <i class="fa-light fa-tags"></i>
                                <h5>Offers</h5>
                        </span>
                </li>
                <li class="lineheight-fit" routerLink="blogs" routerLinkActive="active" (click)="blogs()">
                        <span class="lineheight-fit row-start-center gap-0_6">
                                <i class="fa-light fa-newspaper"></i>
                                <h5>Blogs</h5>
                        </span>
                </li>
        </ul>
</div>