<main class="column-start-center">
    <section class="featured-section">
        <div class="column-center-start">
            <div class="title-sticker column-center-start">
                <h1 class="lineheight-fit">At Alexit, we don't just sell technology</h1>
                <h1 class="lineheight-fit">we live it.</h1>
            </div>
            <p>
                We are your gateway to the latest and greatest in computing, gaming, mobile, multimedia, and home
                entertainment. Whether you’re a tech aficionado, a hardcore gamer, or someone on the hunt for the
                next big thing in mobile technology, Alexit is your ultimate destination. Our mission is to provide
                you with a diverse selection of top-tier tech products that cater to every need and preference.
            </p>
        </div>
        <div class="column-start-start">
            <h1 class="lineheight-fit">Our Journey</h1>
            <h2>From Humble Beginnings to Technological Titans</h2>
            <p>
                Alexit was born from a simple yet ambitious vision: to democratize access to high-quality tech
                products. Founded in 2023, we started as a modest online store, driven by a deep passion for
                innovation and a commitment to customer satisfaction. From those early days, our focus was clear:
                offer the best products at unbeatable prices, and always put the customer first.
                From assembling custom PCs for friends and family to sourcing the latest gadgets from around
                the world, the foundation of Alexit was built on a deep understanding of technology and an
                unwavering commitment to quality.
            </p>
        </div>
    </section>
    <section class="our-mission column-center-center">
        <div class="column-center-start">
            <h1>Pioneering Innovation</h1>
            <p>
                At Alexit, our mission is to make cutting-edge technology accessible to everyone. We are relentless
                in our pursuit of the newest innovations, ensuring that our inventory is always stocked with the
                latest and greatest products. We work closely with leading brands and emerging tech companies to
                bring you the most advanced products, often before they hit the mainstream market.
                <br>
                Innovation is at the core of everything we do. We invest in research and development to stay ahead
                of the curve and anticipate the needs of our customers. Our partnerships with industry leaders allow
                us to offer exclusive products and early releases, ensuring that you are always at the forefront of
                technology.
            </p>
        </div>
        <div class="column-center-start">
            <h1>Customer-Centric Excellence</h1>
            <p>
                Our customers are the heartbeat of Alexit. Every decision we make is driven by our commitment to
                providing an unparalleled shopping experience—from user-friendly website navigation to prompt and
                reliable delivery services. We strive to exceed expectations at every turn, offering personalized
                recommendations, detailed product information, and after-sales support that ensures complete
                satisfaction.
                <br>
                We believe that exceptional customer service is about more than just solving problems; it's about
                creating memorable experiences. Our team of dedicated customer service representatives is available
                24/7 to answer your questions, provide technical support, and guide you through the buying process.
                We are here to ensure that your experience with Alexit is nothing short of extraordinary.
            </p>
        </div>
    </section>
    <section class="growing-community">
        <div class="column-center-center">
            <h1>Growing Together with Our Community</h1>
            <span></span>
            <p>
                Through the years, our relentless pursuit of excellence and innovation has propelled us to new
                heights. Today, Alexit stands as a beacon of trust and reliability in the tech retail world. Our
                growth is a testament to the loyalty and support of our customers, and we are proud to have evolved
                alongside you. As we expanded our product range and enhanced our services, our customer base grew,
                reinforcing our belief in the power of community and the importance of listening to our customers.
                <br>
                We have always believed in the power of community. From day one, we sought to create a platform
                where tech enthusiasts could come together, share their experiences, and learn from one another. Our
                forums, social media channels, and customer support teams are all designed to foster a sense of
                belonging and mutual support. We don't just want to sell products; we want to build a community
                where everyone can thrive.
            </p>
        </div>
    </section>
    <section class="product-range column-center-center">
        <h1>Our Diverse Product Range</h1>
        <div class="product-range-container">
            <div class="column-start-center">
                <img src="assets/images/about-us/computer.png">
                <h1>Computers & Laptops</h1>
                <span></span>
                <p>
                    Dive into our extensive selection of computers and laptops from leading brands. Whether you’re
                    seeking a powerhouse for professional tasks or a sleek laptop for everyday use, we offer a range
                    of options to meet every need and budget. Our collection includes everything from
                    high-performance desktops designed for intensive computing tasks to ultra-portable laptops that
                    combine power with portability.
                </p>
                <a href="#" class="lineheight-fit">VISIT CATEGORY <i
                        class="fa-sharp fa-solid fa-circle-caret-down"></i></a>
            </div>
            <div class="column-start-center">
                <img src="assets/images/about-us/gamepad.png">
                <h1>Gaming Paradise</h1>
                <span></span>
                <p>
                    Elevate your gaming experience with our curated selection of gaming consoles, cutting-edge
                    accessories, and high-performance gaming PCs. At Alexit, we bring the gaming world to your
                    doorstep, ensuring every gamer finds their perfect match. Our gaming section is a treasure trove
                    for enthusiasts, featuring the latest consoles, VR gear, and a wide array of accessories that
                    enhance gameplay.
                </p>
                <a href="#" class="lineheight-fit">VISIT CATEGORY <i
                        class="fa-sharp fa-solid fa-circle-caret-down"></i></a>
            </div>
            <div class="column-start-center">
                <img src="assets/images/about-us/headset.png">
                <h1>Multimedia Marvels</h1>
                <span></span>
                <p>
                    Explore our multimedia products, including state-of-the-art cameras, immersive audio equipment,
                    and more. Our IT solutions cater to both businesses and individuals, helping you build and
                    enhance your tech infrastructure with ease. Whether you’re a budding photographer, an
                    audiophile, or a business owner in need of robust IT support, we have you covered.
                </p>
                <a href="#" class="lineheight-fit">VISIT CATEGORY <i
                        class="fa-sharp fa-solid fa-circle-caret-down"></i></a>
            </div>
        </div>
    </section>
    <section class="why-us">
        <div class="quality">
            <div class="column-start-start">
                <h1>Top Quality</h1>
                <p>
                    We pride ourselves on offering products from reputable brands known for their durability and
                    performance. Every item in our store is carefully selected to ensure it meets our rigorous
                    quality standards. We conduct thorough evaluations and tests to guarantee that our products not
                    only meet but exceed your expectations, providing you with reliable and long-lasting technology
                    solutions.
                </p>
            </div>
            <div></div>
        </div>
        <div class="low-prices">
            <div>
            </div>
            <div class="column-start-start">
                <h1>Low Prices</h1>
                <p>
                    We understand that technology can be a significant investment, and we are committed to providing
                    you with the best value for your money. Our pricing strategy is designed to be competitive and
                    transparent, ensuring that you get the most bang for your buck. In addition to our everyday low
                    prices, we offer regular promotions, discounts, and special deals that make it even easier to
                    upgrade your tech.
                </p>
            </div>
        </div>
    </section>
    <section class="get-intouch">
        <div class="column-center-start">
            <h1>Customer Support</h1>
            <p>
                We value our customers and are here to assist you with any questions or concerns you may have.
                Whether you need help with a product, have a question about an order, or simply want to provide
                feedback, our dedicated team is ready to assist you.
                <br>
                Our customer support team is available to provide you with the assistance you need. We are committed
                to resolving your inquiries promptly and efficiently. Here are the ways you can reach us:
            </p>
            <ul class="column-center-stretch">
                <li class="lineheight-fit">Email: <a href="#" class="lineheight-fit">jotanovicaleksa&#64;gmail.com</a>
                </li>
                <li class="lineheight-fit">Phone: <a href="#" class="lineheight-fit">(+381) 65
                        8891631</a></li>
                <li class="lineheight-fit">Visit Our Store: <a href="#">348 Springfield Ave,
                        Huntington Beach,
                        CA</a></li>
            </ul>
        </div>
        <div></div>
    </section>
</main>