<section class="recommended-products-section column-start-center">
    <div class="rec-sect-title">
        <h1>RECOMMENDED PRODUCTS</h1>
    </div>
    <div class="recommended-list">
        @for (product of products; track $index) {
        <div class="rec-prod-card column-center-center">
            <picture class="row-center-center">
                <img [src]="product.images[0]">
            </picture>
            <div class="rec-prod-contentbox column-center-center">
                <h3>{{product.name}}</h3>
                <h2 class="price">{{$.money(product.price.sale)}} <small>RSD</small></h2>
                <button type="button" [routerLink]="['products/product', product._id, product.name]">GO TO
                    PRODUCT</button>
            </div>
        </div>
        }
    </div>
</section>