<div class="row-start-start user-panel">
    <ul class="column-start-stretch">
        <li class="row-start-center">
            <a routerLink="personal-info" class="lineheight-fit row-start-center">
                <span class="row-center-center"><i class="fa-light fa-user"></i></span>
                <span>Personal info</span>
            </a>
        </li>
        <li class="row-start-center">
            <a routerLink="purchase-history" class="lineheight-fit row-start-center">
                <span class="row-center-center"><i class="fa-light fa-receipt"></i></span>
                <span>Purchase history</span>
            </a>
        </li>
        <li class="row-start-center">
            <a routerLink="previously-viewed" class="lineheight-fit row-start-center">
                <span class="row-center-center"><i class="fa-light fa-clipboard-check"></i></span>
                <span>Previously reviewed</span>
            </a>
        </li>
        <li class="row-start-center">
            <a routerLink="favorite-products" class="lineheight-fit row-start-center">
                <span class="row-center-center"><i class="fa-light fa-heart"></i></span>
                <span>Wish list</span>
            </a>
        </li>
        <li class="row-start-center">
            <a routerLink="edit-account" class="lineheight-fit row-start-center">
                <span class="row-center-center"><i class="fa-light fa-pen-to-square"></i></span>
                <span>Edit account</span>
            </a>
        </li>
    </ul>
</div>