<div class="vanilla-data column-center-start gap-1">
    <h1>Avg. daily income</h1>
    <h4>~{{$.money(dailyIncome.value)}}</h4>
    @if ($.isPositive(dailyIncome.previousValue)) {
    <span class="good-growth">
        <h5>~{{$.money(dailyIncome.previousValue)}}</h5>
        <i class="fa-regular fa-arrow-up-right"></i>
    </span>
    }@else {
    <span class="bad-growth">
        <h5>~{{$.money(dailyIncome.previousValue).replace("-", "")}}</h5>
        <i class="fa-regular fa-arrow-down-right"></i>
    </span>
    }
</div>
<div class="percentage-data good"
    [ngStyle]="{'background': 'conic-gradient(#00ff8c '+ dailyIncome.percentage +', #ecf0ff 0%)'}">
    <h1>{{dailyIncome.percentage}}</h1>
</div>