.header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    position: sticky;
    inset: 0 0 auto 0;
    background-color: #ffffff;
    padding: 0.6rem 1rem;
    box-shadow: var(--box-shadow-main);
    z-index: 1;
}


.header>button:first-child {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}


.main-settings {
    width: 70%;
}

.main-container {
    grid-column: 1 / 3;
    background-color: var(--light-background);
    padding: 1.5rem;
}

.add-category>input {
    background: none;
    outline: 2px solid var(--border-light);
    border: none;
    padding: 0.5rem 0.8rem;
    letter-spacing: 1px;
    border-top-left-radius: var(--border-radius-sub);
    border-bottom-left-radius: var(--border-radius-sub);
    font-size: 0.7rem;
    color: var(--dark-text);
    font-weight: 500;
    transition: outline 0.2s ease-in-out;
}

.add-category>input:focus {
    border: none;
    outline: 1px solid var(--light-blue);
}

.add-category>button {
    border-radius: 0;
    border-top-right-radius: var(--border-radius-sub);
    border-bottom-right-radius: var(--border-radius-sub);
}

textarea {
    border: none;
    outline: none;
    background: none;
    resize: none;
    width: 100%;
    color: var(--dark-text);
}

textarea::placeholder {
    color: #95a4c1;
}

.main-container .offer-title {
    letter-spacing: 4px;
    font-size: 2.2rem;
    font-weight: 300;
}

.add-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1.5rem;
    outline: 1px solid #c3cde4;
    border-radius: var(--border-radius-main);
    padding: 0.5rem 1.2rem;
    margin-top: 1.2rem;
}

.add-content>button {
    background: none;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #c3cde4;
}

.add-content>button:hover {
    color: var(--dark-text);
    outline-color: var(--dark-text);
}

.featured-image {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px dashed #c3cde4;
    aspect-ratio: 16 / 7;
    border-radius: var(--border-radius-main);
    margin-block: 2.5rem;
    max-height: 650px;
    position: relative;
}

.featured-image>input {
    display: none;
}

.featured-image>picture {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-main);
}

.featured-image>picture>img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-main);
}

.upload-input>i {
    font-size: 1.7rem;
    color: var(--light-blue);
}

.upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    cursor: pointer;
}

.upload-input>h5 {
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 100%;
    color: #4c5568;
}

.upload-input.hidden :is(h5, i) {
    display: none;
}

.paragraph {
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}




.products-modal {
    position: fixed;
    inset: 0;
    margin: auto;
    height: 90%;
    width: 80%;
    background: none;
    border: none;
    border-radius: var(--border-radius-main);
    z-index: 3;
}

.products-modal::backdrop {
    background-color: rgba(22, 66, 200, 0.15);
}

.dialog-container {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    overflow-y: auto;
}

.exit-btn {
    cursor: pointer;
    background-color: var(--bad-color);
    color: #ffffff;
    font-weight: 500;
    font-size: 0.8rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.exit-btn:hover {
    background-color: #bb2342;
}

.products {
    height: 100%;
    padding-block: 1.5rem;
}

.product-item {
    border-radius: var(--border-radius-sub);
    outline: 1px solid var(--border-light);
    padding: 0.5rem;
}

.product-item span>h4 {
    line-height: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--dark-text);
    letter-spacing: 1px;
}

.product-item span>h5 {
    line-height: 100%;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--light-text);
    letter-spacing: 1px;
}

.product-item picture {
    width: fit-content;
    height: fit-content;
}

.product-item>span {
    color: rgba(216, 50, 83, 0.4);
    padding-inline: 1rem;
}











@media only screen and (max-width: 1280px) {

    .featured-image {
        aspect-ratio: 16 / 6;
    }
}

@media only screen and (max-width: 1024px) {

    .featured-image {
        aspect-ratio: 16 / 7;
    }
}

@media only screen and (max-width: 768px) {

    .header .blue-btn,
    .header .outline-btn {
        height: 35px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }

    .header .blue-btn>h5,
    .header .outline-btn>h5 {
        display: none;
    }

    .featured-image {
        aspect-ratio: 16 / 8;
    }
}

@media only screen and (max-width: 568px) {

    .featured-image {
        aspect-ratio: 16 / 9;
    }

}