<div class="header">
    <button type="button" class="blue-btn" routerLink="/admin/offers"
        [queryParams]="{ limit: 13, currentPile: 0, searchQuery: '', offerCategoryId: 'all' }"><i
            class="fa-light fa-arrow-left"></i></button>
    <div class="main-settings row-center-center gap-1">
        <div class="adm-form-group flex-full">
            <input type="text" placeholder="Type & press enter to add category"
                (keydown.enter)="addOfferCategory($event)">
        </div>
        <div class="adm-form-group flex-full">
            <select [(ngModel)]="offer.category_id">
                <option ngValue="" selected disabled hidden>Select category</option>
                @for (category of offerCategories; track $index) {
                <option [ngValue]="category._id">{{category.name}}</option>
                }
            </select>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="adm-form-group flex-full">
            <input type="date" [(ngModel)]="date_expires_formated" (change)="setExpirationValue($event)">
        </div>
        <div class="adm-form-group">
            <input type="number" placeholder="%" min="0" max="100" [(ngModel)]="offer.discountImpact">
        </div>
        <button type="button" class="blue-btn" (click)="productsModal.showModal()">
            <i class="fa-light fa-layer-plus"></i>
            <h5>Include products</h5>
        </button>
    </div>
    <div class="row-center-center gap-1">
        <button type="button" class="blue-btn" (click)="submit()">
            <i class="fa-light fa-upload"></i>
            <h5>{{id !== "" ? "Update" : "Publish"}}</h5>
        </button>
        @if (id !== "") {
        <button type="button" class="red-btn" (click)="delete(this.id)">
            <i class="fa-light fa-trash-can"></i>
            <h5>Delete</h5>
        </button>
        }
    </div>
</div>
<div class="main-container column-start-stretch">
    <div>
        <textarea #textarea rows="1" placeholder="Add title..." class="offer-title" [(ngModel)]="offer.title"
            (input)="fitTextareaDimensions($event)"></textarea>
    </div>
    <div class="featured-image">
        <picture #picture [ngStyle]="{'display': id !== '' ? 'block' : ''}"><img #featuredImage
                [src]="offer.featuredImage"></picture>
        <input #featuredInput type="file"
            (change)="uploadFeaturedImage($event, featuredImage); picture.style.display = 'block'; uploader.classList.add('hidden')">
        <div #uploader class="upload-input column-center-center gap-0_7" [ngClass]="[id !== '' ? 'hidden' : '']"
            (click)="featuredInput.click()">
            <i class="fa-solid fa-cloud-arrow-up"></i>
            <h5>Click to browse a file</h5>
        </div>
    </div>
    <textarea #textarea class="paragraph" rows="1" placeholder="Main text..." [(ngModel)]="offer.text"
        (input)="fitTextareaDimensions($event)"></textarea>
</div>







<dialog #productsModal class="products-modal">
    <div class="dialog-container column-start-stretch">
        <div class="row-center-stretch gap-1">
            <div class="adm-form-group flex-full">
                <input type="text" placeholder="Search for name, category, sku, etc." (input)="searchProducts($event)">
            </div>
            <button type="button" class="exit-btn" (click)="productsModal.close()">
                <i class="fa-light fa-circle-xmark"></i>
            </button>
        </div>
        <div class="products column-start-stretch gap-1">
            @for (product of products; track $index) {

            <div class="product-item row-spacebetween-center">
                <div class="row-center-center gap-0_7">
                    <picture><img [src]="product.images[0]" width="40" height="40"></picture>
                    <span class="column-center-start gap-0_3">
                        <h4>{{product.name}}</h4>
                        <h5>Category</h5>
                    </span>
                </div>
                @if (busyProduct(product._id)) {
                <span><i class="fa-light fa-lock"></i></span>
                }@else {
                <button type="button" [ngClass]="[offer.products.includes(product._id) ? 'yellow-btn' : 'purple-btn']"
                    (click)="toggleProduct(product._id)">
                    @if (offer.products.includes(product._id)) {
                    <i class="fa-light fa-circle-xmark"></i>
                    <h5>Exclude</h5>
                    }@else {
                    <i class="fa-light fa-circle-plus"></i>
                    <h5>Include</h5>
                    }
                </button>
                }
            </div>
            }
        </div>
    </div>
</dialog>