<main class="column-start-stretch gap-1">
    <span class="main-title">
        <h1>Offers</h1>
        <button type="button" class="blue-btn" routerLink="offer-editor">
            <i class="fa-light fa-plus-circle"></i>
            <h5>Add new offer</h5>
        </button>
    </span>
    <div class="table-options gap-1">
        <div class="row-center-center gap-1">
            <div class="adm-form-group flex-full">
                <input #search type="text" id="search" placeholder="Search for category, title, creation date, etc.">
            </div>
            <div class="adm-form-group flex-full">
                <select #category_id>
                    <option value="all">All Categories</option>
                    @for (category of offerCategories; track $index) {
                    <option [value]="category._id">{{category.name}}</option>
                    }
                </select>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
        <button type="button" class="blue-btn" (click)="updateFilters(search.value, category_id.value)">
            <i class="fa-light fa-magnifying-glass"></i>
            <h5>Search</h5>
        </button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>
                        <button #title type="button" [id]="sortingTriggers.TITLE" (click)="sort($event.currentTarget)">
                            TITLE
                            @if (title.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>
                        <button #category type="button" [id]="sortingTriggers.CATEGORY"
                            (click)="sort($event.currentTarget)">
                            CATEGORY
                            @if (category.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>
                        <button #productsIncluded type="button" [id]="sortingTriggers.PRODUCTS_INCLUDED"
                            (click)="sort($event.currentTarget)">
                            PRODUCTS
                            @if (productsIncluded.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>
                        <button #discountImpact type="button" [id]="sortingTriggers.DISCOUNT_IMPACT"
                            (click)="sort($event.currentTarget)">
                            DISCOUNT
                            @if (discountImpact.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>
                        <button #creationDate type="button" [id]="sortingTriggers.CREATION_DATE"
                            (click)="sort($event.currentTarget)">
                            DATE CREATED
                            @if (creationDate.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>
                        <button #expirationDate type="button" [id]="sortingTriggers.EXPIRATION_DATE"
                            (click)="sort($event.currentTarget)">
                            EXPIRATION DATE
                            @if (expirationDate.id === trigger) {
                            @if (order === "") {
                            <i class="fa-solid fa-sort"></i>
                            }@else if (order === "asc") {
                            <i class="fa-solid fa-caret-up"></i>
                            }@else if (order === "desc") {
                            <i class="fa-solid fa-caret-down"></i>
                            }
                            }@else {
                            <i class="fa-solid fa-sort"></i>
                            }
                        </button>
                    </th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @for (offer of offers; track $index) {
                <tr>
                    <td>{{offer.title}}</td>
                    <td>{{categoryName(offer.category_id)}}</td>
                    <td>{{offer.products.length}} items</td>
                    <td>{{offer.discountImpact}}%</td>
                    <td>{{$.dateFormatNormal(offer.date.created)}}</td>
                    <td>{{$.dateFormatNormal(offer.date.expires)}}</td>
                    <td>
                        <i class="fa-regular fa-sliders" [routerLink]="['offer-editor', offer._id]"></i>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="pagination-container row-spacebetween-center">
            <button type="button" class="row-center-center" (click)="previousPile()"><i
                    class="fa-solid fa-caret-left"></i></button>
            <p>Showing {{currentPile + 1}} of {{paginatedOffers.length}}</p>
            <button type="button" class="row-center-center" (click)="nextPile()"><i
                    class="fa-solid fa-caret-right"></i></button>
        </div>
    </div>
</main>