.container {
    width: 100dvw;
    height: 100dvh;
}

.container>form {
    min-width: 400px;
}

.container>form>small {
    color: var(--dark-medium);
    font-size: 0.65rem;
    letter-spacing: 2px;
    font-weight: 300;
    position: absolute;
    display: none;
    inset: 0;
    margin: -2rem auto auto auto;
    text-align: center;
    height: fit-content;
}

.container>form>small.active {
    display: block;
}

.container>span {
    width: 100%;
    height: 10px;
    background-color: var(--yellow-light);
}

.container button {
    background-color: var(--main-black);
    cursor: pointer;
    border: none;
    color: var(--button-prev-color);
    letter-spacing: 2px;
    font-weight: 300;
    padding: 1rem 1.5rem;
    transition: all 0.2s ease-in-out;
}

.container input {
    border: 1px solid var(--border-grey);
    padding: 1rem;
    outline: none;
    letter-spacing: 2px;
    font-size: 0.8rem;
    color: var(--main-black);
    font-weight: 300;
}

.container button:hover {
    background-color: var(--night-black);
    color: var(--main-white);
}

.container button:disabled {
    background-color: var(--disabled-button);
    pointer-events: none;
}