<div class="container column-spacebetween-center">
    <span></span>
    <form [formGroup]="forgetPasswordForm" class="column-center-stretch gap-1 relative">
        <small #warning>
            @if (userExist) {
            Link for password reset is sent to {{forgetPasswordForm.value.email}}, redirecting...
            <i class="fa-light fa-loader fa-spin"></i>
            }@else {
            Account with this email does not exist!
            }
        </small>
        <input formControlName="email" type="email" placeholder="Enter email of your account"
            (input)="warning.classList.remove('active')">
        <button type="button" [disabled]="forgetPasswordForm.invalid" (click)="submit(warning)">Send password reset
            mail</button>
    </form>
    <span></span>
</div>