<div class="vanilla-data column-center-start gap-1">
    <h1>Avg. annual income</h1>
    <h4>~{{$.money(annualIncome.value)}}</h4>
    @if ($.isPositive(annualIncome.previousValue)) {
    <span class="good-growth">
        <h5>~{{$.money(annualIncome.previousValue)}}</h5>
        <i class="fa-regular fa-arrow-up-right"></i>
    </span>
    }@else {
    <span class="bad-growth">
        <h5>~{{$.money(annualIncome.previousValue).replace("-", "")}}</h5>
        <i class="fa-regular fa-arrow-down-right"></i>
    </span>
    }
</div>
<div class="percentage-data"
    [ngStyle]="{'background': 'conic-gradient(#b328cb '+ annualIncome.percentage +', #ecf0ff 0%)'}">
    <h1>{{annualIncome.percentage}}</h1>
</div>