<aside [ngClass]="[active ? 'active' : '']" class="column-start-stretch">
    <div class="exit row-spacebetween-center">
        <h1 class="lineheight-fit"><i class="fa-light fa-list"></i> CATEGORIES</h1>
        <button type="button" (click)="onClose.emit();"><i class="fa-light fa-xmark"></i></button>
    </div>
    <div class="row-start-center">
        <ul class="column-start-stretch flex-full">
            <li routerLink="/offers" [queryParams]="{categoryId: 'all'}" (click)="onClose.emit()"><a>All categories</a>
            </li>
            @for (category of categories; track $index) {
            <li routerLink="/offers" [queryParams]="{categoryId: category._id, categoryName: category.name}"
                (click)="onClose.emit()"><a>{{category.name}}</a>
            </li>
            }
        </ul>
    </div>
</aside>