<div class="chart-header row-end-center relative gap-0_6">
    <h1>Total</h1>
    <select>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
    </select>
    <i class="fa-solid fa-caret-down"></i>
</div>
<div class="donut-chart relative">
    <div class="donut">
        <h1>64%</h1>
    </div>
</div>