<section class="configurator-boasting">
    <div class="column-spacebetween-start">
        <div class="config-boast-text column-center-start">
            <h1>Select. Assemble. Optimize.</h1>
            <p>Discover optimal part selections, competitive pricing, and comprehensive compatibility advice for
                your DIY computer builds with our intuitive platform. Simplify your custom PC assembly and
                achieve
                peak performance with ease.
            </p>
        </div>
        <button type="button" routerLink="configurator">
            <i class="fa-regular fa-screwdriver-wrench"></i>
            Build Your PC
        </button>
    </div>
    <picture>
        <img src="../../../../assets/images/configurator-boasting/wp8450390.jpg">
    </picture>
</section>